body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DDDD;
    color: #222831;
    padding: 0;
    margin: 0;
}

h1 {
    color: #30475E;
    font-size: 1.5em;;
    margin: 0 0 0 0;
    padding: 0;
}

h2 {
    color: #F05454;
    text-align: center;
}

p {
    color: #30475E;
    font-size: medium;;
    line-height: 1.4em;
    padding: 0px;
    margin: 0px .5em .75em 0px;
}

a{
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    color: whitesmoke
}

.contentWrapper {
    margin: 0 auto;
    padding: 0 3.0em;
}

.left{
    float: left;
}

.right {
    float: right;
}

/*Header*/

header {
    height: 20em;
    margin: 0 0 2.0em;
    background: black url(./img/headerpic.jpg) no-repeat;
    background-size: cover;
}

.reba{
    color: #30475E;
    font-size: 2.5em;
    margin: 0em 0 0em 0;
    padding: 0;
    text-align: center;
    vertical-align: top; 
    font-family: 'Times New Roman', Times, serif;
}

nav ul {
    margin: 0px 100px 0px 0px;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0px 15px 0px 0px;
}

nav#utilityMenu {
    margin: 0 0 0 0;
    padding: .3em;        
    float: right;
    color: green;           
}

/*SideBar*/

.sideBar{
    float: right;
    border: solid black;
    position: absolute;
    display: block;
    margin: 1.5em 1.3em 3.0em 1.5em;
    padding: 1.7em 0.5em 2.0em 1.7em;
    width: 300px;
    right: 0;
    text-align: center;
    box-shadow: 2px 2px 2px 2px #F05454;
}

.sideBar img {
    margin: 5px 0 2px 0;
}

/* Main Section */
section#main{
    margin: 0 0 2.0em;
    padding: 1.5em 0em 2.0em 1.5em;    
    border-radius: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    margin-right: 200px;    
}

section div.panel {
    float: left;
    position: relative;
    width: 250px;
    margin: 0em 1.5em 2.0em 0.5em;
    padding: 1.0em;
    border: black solid 3px;
    border-radius: .5em;    
}

section div.panel img {
    border-radius: 3em;    
    margin-right: auto;    
    box-shadow: 2px 2px 2px 2px #F05454;
}

.centerOne {
    margin-left: 17px;
}

.centerTwo {
    margin-left: 27px;
}

.centerThree {
    margin-left: 5px;
}

.centerFour {
    margin-left: 3px;
}

.centerFive {
    margin-left: 2px;
}

.centerSix {
    margin-left: 4px;
}

button {
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:50px;
    border-width:1px;
    color:#fff;
    border-color:#eeb44f;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    text-shadow:inset 0px 1px 0px #cc9f52;
    background:linear-gradient(#ffc477, #fb9e25);
    margin-left: 50px
  }

  button:hover {
    background: linear-gradient(#fb9e25, #ffc477);
  }

  /* Footer! */

  footer{
      color: green;
      background-color: black;
      height: 2em;
      text-align: center;
  }

  footer ul li {
      display: inline-block;
      list-style: none;
      margin-right: 30px;
  }